@import "tailwindcss";
* {
    line-height: calc(1em + 0.5em);
    font-family: "General Sans";
}
:root {
    /* Colors */
    --bg: #f5f4f3;
    --txt: #10100e;
    --white: white;
    --gray: #696969;
    --cal: #b71234;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* border: 1px solid #b71234; */
}
.overlay.open {
    transform: translateX(0); 
    background-color: var(--txt); 
}
.title {
    font-family: "Playfair Display";
}




/* #header-title {
    font-family: "Libre Caslon Display", sans-serif;
    font-size: var(--size-5xl);
    color: var(--txt);
}
#header-desc {
    margin-top: 1rem;
    font-size: var(--size-base);
    width: 30ch;
} */

/* 2xs = (two extra small) */
@media (min-width: 320px) {}

/* xs = (extra small) */
@media (min-width: 475px) {}

/* sm = (small) */
@media (min-width: 640px) {}

/* md = (medium) */
@media (min-width: 768px) {}

/* lg = (large) */
@media (min-width: 1024px) {}

/* xl = (extra large) */
@media (min-width: 1280px) {}

/* 2xl = (two extra large) */
@media (min-width: 1536px) {}
